<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps Starter Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  </head>
  <body style="background-color: #DBC8AC;">
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Restaurant Ku</h1>
        <a href="#" id="menu" class="header__menu" alt="tombol">☰</a>
        <nav id="drawer" class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#/">Home</a></li>
            <li class="nav__item"><a href="#/like">Favorite</a></li>
            <li class="nav__item"><a href="//linkedin.com/in/ilman-nawali-40b730175/">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <picture>
        <source media="(max-width: 600px)" srcset="./images/hero-image_4-small.jpg">
      <img
        src="./images/hero-image_4-large.jpg"
        width="100%"
        alt="gambar awal"
        class="gambar1"
      />
      </picture>
      <section class="content" id="maincontent" tabindex="0">
        <!-- <div class="latest">
          <h1 class="latest__label">Daftar Restoran</h1>
          <div class="posts" id="MyData">
          </div>
        </div> -->
      </section>
    </main>
    <footer>
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="#//linkedin.com/in/ilman-nawali-40b730175/">About Us</a></li>
      </ul>
    </footer>
  </body>
</html>
